<header class="site-header">
    <div class="navbar-fixed">
        <nav class="cyan">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo"><i class="mdi-communication-chat"></i> darkshaji</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="sass.html">Dark Blog</a>
                    </li>
                    <li><a href="components.html">Darker Projects</a>
                    </li>
                    <li><a href="javascript.html">Social Darkness</a>
                    </li>
                    <li><a href="javascript.html">Git-dark-Hub</a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>
</header>
